<h1>파이선 실습 - 3차시</h1>
  
10월 27일 실습내용 
*  List

## 리스트(List) 란? 

리스트는 관련 있는 자료를 번호를 매겨서 관리하기 위한 자료구조의 한 종류 입니다.

### List 만들기 

리스트의 구조는 단순해요 리스트 이름을 정하고 대괄호 안에 여러 개의 값을 넣고 각각을 , 로 구분하면 됩니다. 

반 학생들의 키를 가지고 List 를 만들어 봅시다.

In [ ]:
#List_name(변수) = [a,b,c]
heights = [175,155,163,184]  #  list 정의하기
print("반 학생들의 키를 리스트로 표현하면:")
print(heights)

반 학생들의 키를 리스트로 표현하면:
[175, 155, 163, 184]

In [ ]:
a=list([1,2,3])
print(a)

[1, 2, 3]

키 라는 변수의 이름에  175,155,163,184 와 같은 여러 개의 값을 담을 수 있습니다 
이게 바로 List 입니다.

* 만약 에러가 뜬다면 입력 값들 사이에 콤마 (,) 를 표시했는지 살펴 보세요

In [ ]:
#우리조원들의 학번을 리스트로 만들어 출력해 보세요!

studentid_num =[19,18,17]
print("우리조원들의 학번은 :")
print(studentid_num)

우리조원들의 학번은 :
[19, 18, 17]

### List에 문자 담기 

  **리스트에는 숫자(int 형) 뿐만 아니라 텍스트(string) 도 담을 수 있습니다. 텍스트를 list에 넣을 경우에는 작은 따옴표 '이건 string' 로 감싸서  넣어 줘야 합니다. 또한 list에 숫자와 텍스트 둘다 넣을 수 있습니다.

In [ ]:
# 아래는 이름과 엔트리조 번호를 가지는 entry list 입니다 
entry = ['내이름',177]

print("내 entry 정보")
print(entry) #entry list를 출력합니다.

내 entry 정보
['내이름', 177]

**(과제1) 아래의 2020 대동제 라인업을 보고 List 로 만들어 보세요**

* 1일 : '박진영', '제시'
* 2일 : '오마이걸', 'BLACKPINK'
* 3일 : 'BTS', '블루', 'AKMU'

In [3]:
# (과제1) 대동제 라인업을 list로 만들어 보세요 
print("대동제 라인업")

day1 = ['박진영', '제시'] #초대 가수를 추가해 보세요
day2 = ['오마이걸', 'BLACKPINK'] #초대 가수를 추가해 보세요
day3 = ['BTS', '블루', 'AKMU'] #초대 가수를 추가해 보세요

print("첫째날:",day1)
print("둘째날:",day2)
print("셋째날:",day3)

대동제 라인업
첫째날: ['박진영', '제시']
둘째날: ['오마이걸', 'BLACKPINK']
셋째날: ['BTS', '블루', 'AKMU']

###List 에 List 담기 

list에는 숫자, 문자 뿐만 아니라 심지어 다른 리스트를 담을 수 있습니다!  
 리스트 안에 다른 리스트를 넣을 때는 대괄호를 하나 더 써줘야 합니다.
  **[  [ ]  ]**  이렇게요.
  
 또는 리스트 이름을 나열해서도 할 수 있어요.

In [2]:
# (과제2) list 안에 list, 위쪽셀의 변수 day1, day2, day3을 lineup_1,2 리스트에 입력하세요.
lineup_1 = [['박진영', '제시'],['오마이걸', 'BLACKPINK'],['BTS', '블루', 'AKMU']] #데이터를 직접입력하세요. 
lineup_2 = [day1, day2, day3] #변수명을 활용하여 입력하세요.
print(lineup_1)
print(lineup_2)

[['박진영', '제시'], ['오마이걸', 'BLACKPINK'], ['BTS', '블루', 'AKMU']]
[['박진영', '제시'], ['오마이걸', 'BLACKPINK'], ['BTS', '블루', 'AKMU']]

## .append() 
리스트에 다른 값을 추가하고 싶을 때는  .append()라는 함수를 사용하여 새로운 값을 추가할 수 있습니다.  
 .append() 함수는 리스트 이름 뒤에 붙여야 합니다!  만약 lineup이라는 리스트에 값을 추가할 경우에는

Lineup.append('추가할 값')    이런식으로 말이죠

In [ ]:
# 4일차 라인업 list에 날짜 값을 추가 합니다
# 다음은 4일차 라인업 list 입니다
day4 = ['그레이','쌈디','우원재']
print("4일 라인업:")
print(day4)

4일 라인업:
['그레이', '쌈디', '우원재']

In [ ]:
# 새로운 날짜 값을 .append()로 추가
day4.append('4')  # 4를 .append를 사용해서 추가했습니다
print("'4'를 추가한 list:")
print(day4) #4가 추가 되었는지 확인해 볼까요? 
print(" 정보가 추가 되었습니다")

'4'를 추가한 list:
['그레이', '쌈디', '우원재', '4']
 정보가 추가 되었습니다

### + 로 리스트에 값 추가하기 

append 외에도 +를 이용해서 리스트에 원하는 값을 추가 할 수 있습니다.

아래는 데표세에서 여러분이 해야하는 과제들 입니다.

* 1주차 과제
* 2주차 과제

파이썬 수업이 끝나고 교수님이 수업 시간에 갑자기 다음주에 파이썬 프로젝트 과제 설명이 있다고 말씀 하십니다. 위의 예제를 참고하여 homework list에 새로운 프로젝트 과제를 추가하고 총 과제 수를 업데이트 해보세요**

In [ ]:
# 데표세 과제들을 list로 표현합니다
homework = ['1주차 과제','2주차 과제'] # 여러분의 과제들
print("데표세 과제는:") 
print(homework)

데표세 과제는:
['1주차 과제', '2주차 과제']

In [ ]:
# '프로젝트' 를 과제 리스트에 추가하세요
homework = homework + ['프로젝트']
print("수정된 데표세 과제는:")  # 여러분이 해야할 일이 추가 되었습니다
print(homework)

수정된 데표세 과제는:
['1주차 과제', '2주차 과제', '프로젝트']

## Range
 
 리스트에 연속적인 숫자 목록을 만들고 싶을 경우가 있습니다. 파이썬은 0 부터 9까지의 숫자가 포함된 list를 만들 경우 0부터 9를 전부 입력 하기 보다 range() 함수를 사용하면 우리가 지정하는 숫자에 맞게 list를 생성해 줍니다.  range 함수는 0부터 입력 받은 숫자 바로 이전 숫자까지를 생성합니다.

In [ ]:
# num = [0,1,2,3,4,5,6,7,8,9] 이렇게 0~9 까지 입력하는건 귀찮죠

# 그래서 range를 사용해서 0부터 9까지 숫자를 가지는 range 객체를 생성합니다. 
my_range = range(10) 

# range 를 출력해 볼까요?
print("0부터 9까지 숫자")
print(my_range)
print("range(0,10) 은 0부터 10 미만의 숫자를 포함한다는 뜻 입니다")

0부터 9까지 숫자
range(0, 10)
range(0,10) 은 0부터 10 미만의 숫자를 포함한다는 뜻 입니다

## 리스트 인덱싱 슬라이싱

### 인덱싱(index)
리스트는 문자열처럼 인덱싱을 적용하여  리스트 안의 값 들을 가져올 수 있습니다. 

 
 num = [0,1,2,3,4,5]  라는  list가 있을 경우, 
 
 num[0] 은 num 리스트의 첫 번째 요소값을 말합니다. 
 num[1] 은 두번째, num[2]는 세번째 이렇게 순서대로 리스트안의 요소 값을 말합니다. 
 
 어 근데 왜 num[1]이 두 번째 숫자인가 하고 궁금하실 거에요. 그 이유는 **파이썬은 0부터 숫자를 세기 때문이죠** 
 이렇게 생각하면 이해 될거에요.

In [4]:
# (과제3) 특정 위치의 값을 불러 출력할 수 있습니다. 

num = [0,3,5,4]  # num이라는 리스트가 있습니다. 
print("num  안에 있는 세 번째 값은:")
print(num[2]) #세번 째 값을 출력하기 위한 코드를 입력하세요. 

# 그럼 이제 숫자 말고 텍스트도 볼까요? 
list2 = [ 'i', 'love','you',3000] 
print("list2 안에 있는 두 번째 단어를 print:")
print(list2[1])  # love를 출력하기 위한 코드를 입력하세요.

num  안에 있는 세 번째 값은:
5
list2 안에 있는 두 번째 단어를 print:
love

In [ ]:
#인덱스 번호 활용1, 특정 위치의 값 수정하기
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [ ]:
#인덱스 번호 활용2, 삭제하기

a = [1, 2, 3,4,5,6]
del a[1] 
print(a)

del a[2:]
print(a)

[1, 3, 4, 5, 6]
[1, 3]

### 슬라이싱(slicing)

슬라이싱은 말 그대로 문자열이나 리스트 에서 단순히 한 문자만 뽑아내는 것이 아니라 원하는 값을 여러개 가져오는 기능 입니다. 
* list[ 시작:끝]   이렇게 생겼습니다. 

그럼 이제 문자열 하고 배열을 slicing 해볼게요

In [ ]:
# 문자열을 slicing 하면
text = "i love you 3000"  
text = text[0:6] # 인덱스 번호 0부터 5까지 값을 가져옵니다
print("인덱스0 부터 5까지 값을 출력하면:")
print(text) # 가져온 값을 살펴봅시다

인덱스0 부터 5까지 값을 출력하면:
i love

문장에서 6번째 자리에 있는 단어들이 출력 되었습니다! 
그럼 이제 배열 slicing을 해볼게요 배열도 마찬가지 입니다. 아까 위에서 배열 인덱싱도 같다고 배웠죠?

In [ ]:
my_list = ['i','love','you','3000']
slicing_list = my_list[1 : 3]  # 리스트에서 인덱스 번호 1 부터 2까지 값을 가져옵니다.
print("list 안의 두번째 까지의 값은:")
print(slicing_list) 
print("위 문장을 다 slicing을 이용해서 가져오고 print 해보세요!")

# 전체, list[:]  
slicing_list = my_list[:]
print(slicing_list)

# 전체, list[시작:끝] 
slicing_list = my_list[0:4]
print(slicing_list)

list 안의 두번째 까지의 값은:
['love', 'you']
위 문장을 다 slicing을 이용해서 가져오고 print 해보세요!
['i', 'love', 'you', '3000']
['i', 'love', 'you', '3000']


**위 내용을 참고해서 아래 예제의 리스트에서 처음부터 3번째 값을 가져와 출력해 보세요**

In [5]:
list3 = ['이제','수업','끝','남']
# 위 list3에서 처음부터 3번째 '끝' 까지만 가져와 보세요

# 여기 아래에 코딩하세요 

print(list3) # 가져온 값을 출력해 봅니다

['이제', '수업', '끝', '남']

중접된 리스트에서 슬라이싱 하기

In [ ]:
list4 = [1, 2, 3, ['a', 'b', 'c'], 4, list3]
list4[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
#인덱스 번호 3번 리스트 속의 인덱스번호 1번까지를 슬라이싱 해서 출력하세요.
print(list4[3][:2])

['a', 'b']

In [7]:
#(과제4) list4에서 list3의 처음부터 인덱스 번호 2번째 값을 가져와 출력하세요.

# 여기 아래에 코딩하세요 

print(list3[0:3]) # 결과: ['이제', '수업', '끝']

['이제', '수업', '끝']

# 제어구조에서 list의 활용

In [ ]:
#for in 문 (반복문)

my_list = [1,2,3,4,5]

for e in my_list:
  print("my_list : ",e)

my_list :  1
my_list :  2
my_list :  3
my_list :  4
my_list :  5

In [ ]:
# 1<= x <5 (이상, 미만)
# 일반적으로 내장된 함수들은
# 이상, 미만의 형태로 작성되어 있다.
# ex) range(1,5) == [1,2,3,4]   
#                  1<= x < 5]
  
for e in range(1,5):
  print("range : ",e)

range :  1
range :  2
range :  3
range :  4

In [ ]:
# index 도 함께 알고싶다면?? 
# enumerate

for i,e in enumerate(my_list):
  print("index : ", i, ", element : " , e)

index :  0 , element :  1
index :  1 , element :  2
index :  2 , element :  3
index :  3 , element :  4
index :  4 , element :  5

.pop이란 함수는 리스트에서 원소를 하나 제거하는 것! (단, 가장 마지막 인덱스 부터!!)

In [ ]:
my_list = [1,2,3,4,5]

while my_list:
  print('my_list =', my_list)
  e = my_list.pop()
  print('e = ', e)

my_list = [1, 2, 3, 4, 5]
e =  5
my_list = [1, 2, 3, 4]
e =  4
my_list = [1, 2, 3]
e =  3
my_list = [1, 2]
e =  2
my_list = [1]
e =  1

# 더 알아보기

In [ ]:
# 리스트 연산하기, 더하기

list5 = [1, 2, 3]
list6 = [4, 5, 6]
list5 + list6

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 연산하기, 곱하기
list7 = [1, 2, 3, 4]
list7 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# 리스트 길이 구하기
#len 함수는 문자열, 리스트외에도 딕셔너리 등 파이선 자료형 및 자료구조에 폭넓게 사용할 수 있는 함수
list7 = [1, 2, 3, 4]
len(list7)

4

In [ ]:
# 특정 값이 몇개인지 세어주는 명령어
list8 = [1,1,1,2,2,3]
print(list8.count(2))

2